<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YazılımEviInsanKaynaklarıSistemi.Properties.Settings.TestConnectionString"
            connectionString="Server=IREMSEKER;Database=Test;User Id=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>